@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Ubuntu', sans-serif;
}



.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding-top: 26px;
    position: relative;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav {
    display: flex;
    gap: 75px;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    color: #42454A;
}

.btn {
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 25px -10px rgba(0, 0, 0, 0.04);
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 30px 18px 31px;
}

.black {
    background: #000;
    color: #FFF;
}

.btn_wrapper {
    display: flex;
    gap: 15px;
}

.hero {
    position: relative;

}

.hero_container {
    display: flex;
}

.text h2 {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: 95px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.text_strong {
    font-weight: 700;
}

.hero_img {
    position: absolute;
    right: 0;

}

.underline {
    width: 335px;
    height: 4px;
    background: #42454A;
}

.desc {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 154.545% */
    letter-spacing: 0.22px;
}

.text_bottom_left button {
    background: #42454A;
    padding: 17px;
    color: #FFF;
    font-weight: 700;

}

.text_bottom_left {
    display: flex;
    gap: 22px;
    align-items: center;
}

.text {
    max-width: 586px;
}

.text h2 {
    margin-top: 87px;
}

.text_bottom {
    display: flex;
    gap: 80px;
}

.text_bottom_right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.underline {
    margin: 93px 0 62px;
}

.desc {
    max-width: 353px;
    margin-bottom: 53px;
}

.text_bottom_left button {
    max-width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
}

.text_bottom_left p {
    color: #17181A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.4px;
}

.text_bottom_right p {
    max-width: 87px;
    color: #414449;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.18px;
}

.info_wrapper {
    display: flex;
    gap: 58px;
    padding-bottom: 127px;
    margin-top: 161px;
}

.info_item {
    border-radius: 6.606px;
    border: 0.661px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 28px 35px 17px 35px;
}

.info_item h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 40px */
    display: flex;
    align-items: center;
}

.info_item span {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 13px;
}

.info_item p {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 16.9px */
}

.info_item span {
    margin-left: 8px;
}

.product_info_bottom {
    display: flex;
    align-items: center;
    gap: 177px;
}

.product_info_item {
    display: flex;
    align-items: center;
    gap: 18px;
}

.product_info_item p {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.info_item_list {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.product_info_top {
    text-align: center;
}

.product_info_top h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 34px;
}

.product_info_top p {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.motor_top {
    text-align: center;
    position: relative;
}

.motor_top h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.motor_top p {
    position: absolute;
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 34px 25%;
    min-width: 684px;
}

.modes_top {
    text-align: center;
    margin-bottom: 120px;
}

.modes_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 127px;
    align-items: center;
}

.modes_top h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.modes_top p {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 34px;
}

.modes_main {
    display: flex;
}

.modes_text h2 {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.modes_text {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.modes_list {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.modes_bottom {
    display: flex;
    align-items: center;
    gap: 147px;
    height: 472px;

}

.modes_bottom_text {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.modes_bottom_text h2 {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.modes_list_bottom {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.modes_bottom_img {
    position: absolute;
    left: 0;
}

.modes_bottom_img2 {
    margin-left: 480px;
}

.modes_bottom_text {
    margin-top: 132px;
}

.gallery_container {
    text-align: center;
}

.gallery_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    padding: 29px 0 29px;
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 36px */
    border-radius: 10px;
    border: 2px solid #42454A;
    background: none;
}

.more {
    padding: 29px 64px;
    margin-top: 135px;
    width: unset;
}

.gallery_main {
    display: flex;
    gap: 74px;
}

.gallery_btn_wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.gallery_left {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 190px;
}

.gallery_right {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.gallery_top {
    padding-bottom: 112px;
}

.gallery_top h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.gallery_top p {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    margin-top: 34px;
}

.colors {
    background: url('./img/image (10).png') bottom left no-repeat;
    padding-top: 127px;
    text-align: center;
    position: relative;
}

.colors_main {
    min-height: 1000px;

}

.colors_top h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.colors_top p {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    margin-top: 34px;
}

.img_list {
    display: flex;
    position: absolute;
    bottom: -250px;
    left: 45px;
}

.testimonial {
    padding: 52px 22px 51px 34px;
    background: #FFF;
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    background: #FAFAFA;

}

.testimonial:hover {
    box-shadow: 0px 1.852px 3.148px 0px rgba(49, 49, 49, 0.02), 0px 20px 13px 0px rgba(49, 49, 49, 0.05), 0px 38.519px 25.481px 0px rgba(49, 49, 49, 0.06);

}

.testimonials {
    padding: 364px 0 167px;
}

.testimonials_main {
    display: flex;
    gap: 36px;
}

.testimonials_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.author {
    display: flex;
    gap: 20px;
}

.desc {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 12px 0 47px;
}

.author h4 {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.author p {
    color: #42454A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.author_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subscribe_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe {
    padding: 100px 0 127px;
}

.subscribe_top h2 {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 60px */
}

.subscribe_top p {
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    margin-top: 11px;
}

.subscribe_form {
    margin-top: 59px;
}

.subscribe_form input {
    padding: 27px 207px 26px 38px;
    border-radius: 10px;
    border: 1.5px solid #F5F5F5;
    background: #FAFAFA;
    color: #42454A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    text-align: left;
}

.subscribe_form button {
    border-radius: 10px;
    background: #42454A;
    padding: 26px 57px;
    color: #FBFBFB;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.subscribe_form {
    display: flex;
    gap: 20px;
}

.footer {
    background: #42454A;
    padding: 99px 340px 30px;
    position: relative;
    text-align: center;
}

.footer_main{
    display: flex;
    align-items: flex-end;
}

.footer_nav {
    display: flex;
    gap: 100px;
    color: #FBFBFB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    /* 337.5% */
    text-align: left;
}

.footer_nav ul {
    list-style-type: none;
}

.footer_nav li a {
    text-decoration: none;
    color: #FBFBFB;

}

.footer_nav h2 {
    color: #FBFBFB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.footer_bottom p{
    color: #FBFBFB;    
}

.footer_container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer_img{
    position: absolute;
    top: -100px;
    left: 0;
}

.footer_bottom{
    margin-top: 71px;
}